.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  color: white;
}

.cash {
  font-size: 20px;
  font-weight: bold;
}

.user {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: lightgray;
}

.no-users {
  font-style: italic;
}